#gameArea{
    float: left;
    margin-right: 30px;
}

#hold{
    float: left;
    margin-right: 32px;
    border: 1px #000000 solid;
}

#field{
    float:left;
    margin-right: 32px;
}

.next{
    margin-bottom:16px;
    border: 1px #000000 solid;
}

#networkArea{
    float: left;
}