body{
     
}

#gameArea{
    margin-right: 30px;
}

#hold{
    margin-right: 32px;
    border: 1px #000000 solid;
}

#field{
    margin-right: 32px;
}

.next{
    margin-bottom: 16px;
    border: 1px #000000 solid;
}

#networkArea{
    float: left;
    margin-left: 32px;
}

.right{
    float: left;
}

.center{
    float: left;
}

.left{
    float: left;
}

.keyconfig{
    /*margin-top: 380px;*/
    border-collapse: collapse;
    margin-top: 80px;
}

.keyconfig td{
    border: 1px #000000 solid;    
}

#players{
    border-collapse: collapse;
}

#players td{
    border: 1px #000000 solid;
}

#players th{
    border: 1px #000000 solid;
}

#players .me{
    background-color: skyblue;
}

#networkArea{
    display:none;
}

#pointTable{
    margin-top: 250px;
}

#effectTable{
    /*border: 1px #000000 solid;*/
}

#showEffectRenValue{
    background-image: url("./resource/ren.png");
    height: 63px;
    width: 203px;
    font-size: 3em;
    text-align: right;
    background-repeat: no-repeat;
}

#showEffectTetrisValue{
    background-image: url("./resource/tetris.gif");
    background-size: contain;
    background-repeat: no-repeat;
    height:63; 
    padding-bottom: 0;
}

#showEffectBackToBackValue{
    background-image: url("./resource/back-to-back.png");
    height: 63px;
    width: 203px;
    background-size: contain;
    background-repeat: no-repeat;
}

/*203, 63*/